{
  "extends": "google",
  "rules": {
    "space-infix-ops": "error",
    "arrow-spacing": [
      "error",
      {
        "before": true,
        "after": true
      }
    ]
  },
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint"
}
