html {
  height: 100%;
}

body {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#left-controls-container {
  display: flex;
  position: absolute;
  flex-direction: column;
  box-sizing: border-box;
  width: 260px;
  height: 100%;
  top: 0;
  left: 0;
  padding: 20px 0 0 20px;
}

.left-control {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  box-sizing: border-box;
  z-index: 1;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0;
  font-family: "Montserrat", sans-serif;
  color: darkblue;
}

.left-control:first-child {
  margin: 0 0 10px 0;
}

.left-control:last-child {
  margin: 10px 0 0 0;
}

.left-control-title {
  width: 100%;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  color: #2B2B2B;
  padding: 0 0 4px 0;
  cursor: default;
}

.left-control-entry {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  font-size: 14px;
  cursor: pointer;
  padding: 4px 12px;
  border-radius: 12px;
  transition: background-color 250ms ease;
}

.left-control-entry.selected {
  background-color: gainsboro;
}

.left-control-entry:hover {
  background-color: gainsboro;
}

.left-control-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  font-size: 16px;
  pointer-events: none;
}

.left-control-label {
  display: inline-block;
  position: relative;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: darkblue;
  padding: 0 8px;
  pointer-events: none;
  flex-grow: 1;
}

.dataset-icon {color: #2B2B2B;}

.left-control-label.time-label {
  padding: 0;
}

.left-control-checkbox {
  color: #2B2B2B;
  font-size: 18px;
}

.circle {
  border-radius: 50%;
  border: 1px solid #2B2B2B;
}

.square {
  width: 14px;
  height: 14px;
  border: 1px solid #2B2B2B;
}

#colour-choices {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  flex-direction: row;
  background-color: white;
  border-radius: 12px;
  padding: 4px 12px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms ease;
}

#colour-choices.visible {
  pointer-events: all;
  opacity: 1;
}

.colour-choice-icon {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 0 2px;
  border: 1px solid #2B2B2B;
}

#colour-choices.circle-choices .colour-choice-icon {
  border-radius: 50%;
  border: 1px solid #2B2B2B;
}

#colour-choices.square-choices .colour-choice-icon {
  border-radius: unset;
}

.white-bg {background-color: white;}
.red-bg {background-color: red;}
.orange-bg {background-color: orange;}
.yellow-bg {background-color: yellow;}
.yellow-green-bg {background-color: greenyellow;}
.green-bg {background-color: green;}
.green-blue-bg {background-color: lightseagreen;}
.blue-bg {background-color: blue;}
.violet-bg {background-color: darkorchid;}
.pink-bg {background-color: deeppink;}
.brown-bg {background-color: saddlebrown;}

#help-icon {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  line-height: 30px;
  top: 20px;
  right: 20px;
  color: #2B2B2B;
  font-size: 28px;
  border-radius: 50%;
  z-index: 1;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  transition: background-color 250ms ease;
}

#help-icon:hover {
  background-color: gainsboro;
}
